 html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Maintenance Manager
        include components/styles.pug
        link(rel="stylesheet", href="/css/theme.css")


    body.dark
        header
            .navbar-fixed
                nav.darken-4.z-depth-0
                    .nav-wrapper
                        a(data-target="slide-out" href="#").sidenav-trigger
                            i.material-icons menu
                            a.brand-logo(href="/") CALIBRATION


                        ul.right.hide-on-med-and-down
                            li
                                a(href="/") Home

                            li
                                a.active(href="/calibration") Calibration


                            li
                                a(href="/spares") Spares

                            li
                                a(href="/about") About


            ul#slide-out.sidenav
                li
                    .user-view
                        .background
                            img(src="/images/office.jpg")
                        a(href="#name")
                            span.white-text.name Tushar Pandey
                        a(href="#email")
                            span.white-text.email tusharpandey@gmail.com
                li
                    a(href="/") Home
                        i.material-icons.left home


                li
                    a(href="/calibration") Calibration
                        i.material-icons.left settings

                li
                    a(href="/spares") Spares
                        i.material-icons.left settings


                li
                    a(href="/about") About
                        i.material-icons.left info


        main

            #machinemodal.modal.modal-fixed-footer
                .modal-content

                    .row
                        h4.col.s12 Create machine
                        form#createmachineform.col.s12(action='/machine/create', method='POST')
                            .row
                                .input-field.col.s12
                                    input#name.validate(type="text", name="name")
                                    label(for="name") Name

                                .input-field.col.s6
                                    input#interval.validate(type="text", name="interval")
                                    label(for="interval") Checkup Interval
                                .input-field.col.s6
                                    select(name="unit")
                                        option(value="days") Days
                                        option(value="months" selected) Months
                                        option(value="years") Years    
                                    //- label Unit
                                .input-field.col.s6
                                    select(name="case")
                                        option(value="open") Open
                                        option(value="lte") LTE
                                        option(value="cp") CP
                                        option(value="gfr") GFR
                                    label Case through

                                .input-field.col.s6
                                    input#testing.validate(type="text", name="testing")
                                    label(for="testing") What to test


                                .input-field.col.s12
                                    input#remark(type="text", name="remark")
                                    label(for="remark") Remarks


                            .row
                                .input-field.col.s6
                                    input#incharge.validate(type="text", name="incharge")
                                    label(for="incharge") Incharge

                                .input-field.col.s6
                                    input#incharge-email.validate(type="email", name="incharge-email")
                                    label(for="incharge-email") Incharge Email

                                .input-field.col.s6
                                    input#incharge-phone.validate(type="tel", name="incharge-phone")
                                    label(for="incharge-phone") Phone

                            .row
                                .input-field.col.s6
                                    input#supplier.validate(type="text", name="supplier")
                                    label(for="supplier") Supplier

                                .input-field.col.s6
                                    input#supplier-email.validate(type="email", name="supplier-email")
                                    label(for="supplier-email") Supplier Email

                                .input-field.col.s6
                                    input#supplier-phone.validate(type="tel", name="supplier-phone")
                                    label(for="supplier-phone") Supplier Phone
                                .input-field.col.s6
                                    input#supplier-reminder.validate(type="number", name="supplier-reminder", value="10", min="0")
                                    label(for="supplier-reminder") Reminder before (days)




                .modal-footer
                    a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
                    a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:document.getElementById('createmachineform').submit();") Submit




            .fixed-action-btn
                // Modal Trigger
                a.waves-effect.waves-light.btn-floating.btn-large.red.modal-trigger(href="#machinemodal")
                    i.material-icons.large add


            #upcoming.container

                ul.collapsible.z-depth-0
                    li.rounded(v-for="machine in machines")
                        .collapsible-header.z-depth-0(v-bind:class="{'burning-orange white-text': machine.soon }")
                            p.full-width.no-margin {{machine.name}} 
                                span.right Next: {{machine.checkup.next}} | {{machine.soondays}} days left
                        .collapsible-body.card.no-padding.no-margin.z-depth-0
                            .card-content
                                .row.no-margin
                                    p.light.col.s12 # {{machine._id}}

                                    span.card-title.col.s12 {{machine.name}}

                                    p.light.col.s12 Case through: {{machine.case}}
                                        //- i.material-icons.right.red-text(@click='machineDelete(machine._id)') delete
                            .divider
                            .card-content
                                .row.no-margin
                                    h5.col.s12.light Testing

                                    p.col.s12 Test: #[span.strong {{machine.testing}} ]

                                    p.col.s4 Next 
                                        br
                                        | #[span.strong {{machine.checkup.next}} ]
                                    p.col.s4 Last
                                        br
                                        | {{machine.checkup.last}}
                                    p.col.s4 Frequency
                                        br
                                        | {{machine.checkup.interval.value}} {{machine.checkup.interval.unit}}


                            .divider
                            .card-content
                                .row.no-margin        
                                    h5.col.s12.light Supplier

                                    h6.col.s12.no-margin {{machine.supplier.name}}

                                    p.col.s12 Email: {{machine.supplier.email}}

                                    p.col.s12 Phone: {{machine.supplier.phone}}

                                    p.col.s12 Reminder: {{machine.supplier.reminder}} days

                            .divider
                            .card-content
                                .row.no-margin        
                                    h5.col.s12.light Incharge

                                    h6.col.s12.no-margin {{machine.incharge.name}}

                                    p.col.s12 Email: {{machine.incharge.email}}

                                    p.col.s12 Phone: {{machine.incharge.phone}}




                            .card-action
                                .row.no-margin

                                    .input-field.col.s12
                                        input(type="text", name="remark", v-bind:id="'remark'+machine._id", v-model="machine.remark", @change="saveRemark($event, machine._id)")
                                        label(v-bind:for="'remark'+machine._id") Remark 

                                    .input-field.col.s12
                                        input.datepicker(type="text", name="date", v-bind:id="'date'+machine._id")
                                        label(v-bind:for="'date'+machine._id") Add record date (yyyy-mm-dd)
                                    .col.s12
                                        a.btn.btn-flat.btn-bordered.curvy(@click="addRecord(machine._id)")
                                            i.material-icons add

                                        a.btn.btn-flat.btn-bordered.curvy.modal-trigger(v-bind:href="'#record'+machine._id")
                                            i.material-icons visibility

                                        a.btn.btn-flat.btn-bordered.curvy(@click='machineEdit(machine._id)')
                                            i.material-icons edit

                                        a.btn.btn-flat.red-text.btn-bordered.curvy.modal-trigger(@click='machineDelete(machine._id)')
                                            i.material-icons delete

                        .modal.white(v-bind:id="'record'+machine._id")
                            ul.collection
                                li.collection-header
                                    h5.light.center Past calibration record
                                li.collection-item(v-for="record in machine.checkup.history")
                                    span {{moment(record).format('DD MMM YYYY')}}
                                    a.secondary-content.red-text(@click="removeRecord(machine._id, record)")
                                        i.material-icons close

        include components/scripts.pug
        script(src="/js/init/calibration.js")
