extends components/layout.pug

block styles

block navtitle
    a.teal-text.brand-logo(href="/") CALIBRATION

block content
    //- .green.darken-2.hide-on-med-and-down
        .row
            .col.s12
                h4.header.light.white-text Dashboard
        
            //- .divider.green.darken-5

    #machinemodal.modal.modal-fixed-footer
        .modal-content
            
            .row
                h4.col.s12 Create machine
                form#createmachineform.col.s12(action='/machine/create', method='POST')
                    .row
                        .input-field.col.s12
                            input#name.validate(type="text", name="name")
                            label(for="name") Name
                    .row
                        .input-field.col.s6
                            input#interval.validate(type="text", name="interval")
                            label(for="interval") Checkup Interval
                        .input-field.col.s6
                            select(name="unit")
                                option(value="days") Days
                                option(value="months") Months
                                option(value="years") Years    
                            //- label Unit
                    .row
                        .input-field.col.s12
                            input#testing.validate(type="text", name="testing")
                            label(for="testing") What to test
                    //- .row
                        .input-field.col.s4
                            input#sector.validate(type="text", name="sector")
                            label(for="sector") Sector
                        .input-field.col.s4
                            input#number.validate(type="number", name="number")
                            label(for="number") Number
                        .input-field.col.s4
                            input#shop.validate(type="text", name="shop")
                            label(for="shop") Shop

                    .row
                        .input-field.col.s12
                            input#remark(type="text", name="remark")
                            label(for="remark") Remarks
                    .row
                        .input-field.col.s12
                            input#incharge.validate(type="text", name="incharge")
                            label(for="incharge") Incharge
                    
                    
                    

        .modal-footer
            a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
            a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:$('#createmachineform').submit();") Submit
    



    .fixed-action-btn
        // Modal Trigger
        a.waves-effect.waves-light.btn-floating.btn-large.red.modal-trigger(href="#machinemodal")
            i.material-icons.large add
    
    
    #upcoming
        //- .row
            .col.s12.m6(v-for="machine in machines")
                //- .card.rounded
                    .card-content
                        span.card-title.grey-text.text-darken-4 {{machine.name}}
                            a(href="#").orange-text
                                i.material-icons.right star
                        
                        p {{machine.checkup.next}} 
                    .card-action
                        //- a.btn.btn-flat.btn-bordered.curvy(@click="markdone(machine._id)") Done
                        //-     i.material-icons.left done
                        //- a.btn.btn-flat.btn-bordered.curvy(@click="marklater(machine._id)") Later
                        //-     i.material-icons.left access_time
                        a.btn.btn-flat.btn-bordered.curvy(@click="viewMachine(machine._id)") View
                            i.material-icons.left visibility

                a(href="#" @click="viewMachine(machine._id)")
                    .card.rounded(v-bind:class="{'red darken-1 white-text': machine.soon }")
                        .card-content
                            span.card-title.text-darken-4 {{machine.name}}                            
                            p Next: {{machine.checkup.next}} 
                            p Days left: {{machine.soondays}} 


        //- .collection
            a.collection-item.avatar(href="#" v-for="machine in machines" @click="viewMachine(machine._id)" v-bind:class="{'firewatch white-text': machine.soon }")
            
                .row
                    span.col.s12.title.text-darken-4 {{machine.name}}                            

                    span.col.s6 Next: {{machine.checkup.next}} 
                    span.col.s6 {{machine.soondays}} days left


        ul.collapsible(v-once)
            li(v-for="machine in machines")
                .collapsible-header(v-bind:class="{'firewatch white-text': machine.soon }")
                    p.full-width.no-margin {{machine.name}} 
                        span.right Next: {{machine.checkup.next}} | {{machine.soondays}} days left
                .collapsible-body.card.no-padding.z-depth-0
                    .card-content
                        .row
                            p.col.s12.light # {{machine._id}}
                            span.col.s12.card-title.grey-text.text-darken-4 {{machine.name}}
                                //- i.material-icons.right.red-text(@click='machineDelete(machine._id)') delete

                        
                            p.col.s12 Incharge: {{machine.incharge}}

                        .row
                            p.col.s4.strong Next 
                                br
                                | {{machine.checkup.next}}
                            p.col.s4 Last
                                br
                                | {{machine.checkup.last}}
                            p.col.s4 Frequency
                                br
                                | {{machine.checkup.interval.value}} {{machine.checkup.interval.unit}}
                            //- p.col.s6 {{machine.location.shop}} - {{machine.location.sector}}
                        
                        .row
                            p.col.s12 What to test
                                br
                                | {{machine.testing}}

                        .row
                            p.col.s4 Remarks
                                br
                                | {{machine.remark}}
                                
                    
                    
                    
                    
                    
                    .card-action
                        //- .input-field
                            input(type="text", name="remark", v-bind:id="'remark'+machine._id")
                            label(v-bind:for="'remark'+machine._id") Remark 
                        
                        .input-field
                            input.datepicker(type="text", name="date", v-bind:id="'date'+machine._id")
                            label(v-bind:for="'date'+machine._id") Add record date (yyyy-mm-dd)
                        
                        a.btn.btn-flat.btn-bordered.curvy(@click="addRecord(machine._id)") Add
                            i.material-icons.left add

                        //- a.btn.btn-flat.btn-bordered.curvy(@click="viewMachine(machine._id)") View
                            i.material-icons.left visibility
                        a.btn.btn-flat.btn-bordered.curvy.modal-trigger(v-bind:href="'#record'+machine._id") View
                            i.material-icons.left visibility

                .modal.white(v-bind:id="'record'+machine._id")
                    ul.collection
                        li.collection-header
                            h5.light.center Past calibration record
                        li.collection-item(v-for="record in machine.checkup.history")
                            span {{moment(record).format('DD MMM YYYY')}}
                            a.secondary-content.red-text(@click="removeRecord(machine._id, record)")
                                i.material-icons close

block scripts
    script(src="/js/init/calibration.js")
