extends components/layout.pug

block styles

block content
    .green.darken-2
        .container
            .row
                .col.s12
                    h3.header.light.white-text Metrics
        .divider.green.darken-5

    //- .container
        .row
            .col.s12
                h3.header.light.green-text.text-darken-2 Metrics
    .divider

    .container
        .row
            .col.s6.l3
                


block scripts
    script(src="/js/init/homepage.js")
