extends components/layout.pug

block styles

block navtitle
    a.teal-text.brand-logo(href="/") Machine

block content

    //- #recordmodal.modal.modal-fixed-footer.bottom-sheet
    //-     .modal-content
            
    //-         .row
    //-             h4.col.s12 Create record
    //-             form#createrecordform.col.s12(action='/machine/create', method='POST')
    //-                 .row
    //-                     .input-field.col.s12
    //-                         input#date.datepicker(type="date", name="date")
    //-                         label(for="date") Date

    //-                 .row
    //-                     .input-field.col.s12
    //-                         input#incharge.validate(type="text", name="incharge")
    //-                         label(for="incharge") Incharge
              
    //-     .modal-footer
    //-         a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
    //-         a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:$('#createrecordform').submit();") Submit
    
      

    #machine(v-once)
        
            
        .card.sharp
            .card-content
                .row
                    p.col.s12.light # {{machine._id}}
                    span.col.s12.card-title.grey-text.text-darken-4 {{machine.name}}
                        i.material-icons.right.red-text(@click='machineDelete(machine._id)') delete

                
                    p.col.s12 Incharge: {{machine.incharge}}

                .row
                    p.col.s6.strong Next: {{machine.checkup.next}}
                    p.col.s6 Last: {{machine.checkup.last}}
                
                .row
                    p.col.s6 Frequency: {{machine.checkup.interval.value}} {{machine.checkup.interval.unit}}
                    p.col.s6 {{machine.location.shop}} - {{machine.location.sector}}
                
                
            .card-action
                
                .input-field
                    input#date.datepicker(type="text", name="date")
                    label(for="date") Add record date (yyyy-mm-dd)
                
                a.btn.btn-flat.btn-bordered.curvy(@click="addRecord(machine._id)") Add
                    i.material-icons.left add
                
        .row
            .col.s12.m6
                h3.light Record
                ul.collection
                    li.collection-item(v-for="record in machine.checkup.history")
                        span {{moment(record).format('DD MMM YYYY')}}
                        a.secondary-content.red-text(@click="removeRecord(machine._id, record)")
                            i.material-icons close
                        

                        

                    

             

block scripts
    script(src="/js/lib/moment.js")
    script(src="/js/init/machine.js")
   
    
