extends components/layout.pug

block styles

block content

    //- #recordmodal.modal.modal-fixed-footer.bottom-sheet
    //-     .modal-content
            
    //-         .row
    //-             h4.col.s12 Create record
    //-             form#createrecordform.col.s12(action='/machine/create', method='POST')
    //-                 .row
    //-                     .input-field.col.s12
    //-                         input#date.datepicker(type="date", name="date")
    //-                         label(for="date") Date

    //-                 .row
    //-                     .input-field.col.s12
    //-                         input#incharge.validate(type="text", name="incharge")
    //-                         label(for="incharge") Incharge
              
    //-     .modal-footer
    //-         a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
    //-         a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:$('#createrecordform').submit();") Submit
    
      

    .container#machine(v-once)
        .row
            .col.s12.m6
                .card.rounded
                    .card-content
                        p.light # {{machine._id}}
                        span.card-title.grey-text.text-darken-4 {{machine.name}}
                            a(href="#").green-text
                                i.material-icons.right edit

                        .row
                            p.col.s12 Incharge: {{machine.incharge}}

                        .row
                            p.col.s6.strong Next: {{machine.checkup.next}}
                            p.col.s6 Last: {{machine.checkup.last}}
                        
                        .row
                            p.col.s6 Frequency: {{machine.checkup.interval.value}} {{machine.checkup.interval.unit}}
                            p.col.s6 {{machine.location.shop}} - {{machine.location.sector}}
                        
                        
                    .card-action
                        
                        .input-field
                            input#date.datepicker(type="text", name="date")
                            label(for="date") Date (yyyy-mm-dd)
                        
                        a.btn.btn-flat.btn-bordered.curvy(@click="addRecord(machine._id)") Add
                            i.material-icons.left add
                        

            .col.s12.m6
                ul.collection
                    li.collection-item(v-for="record in machine.checkup.history")
                        span.title {{moment(record).format('DD MMM YYYY')}}
                        

                    

             

block scripts
    script(src="/js/lib/moment.js")
    script(src="/js/init/machine.js")
   
    
