extends components/layout.pug

block styles

block navtitle
    a.teal-text.brand-logo(href="/") SPARES

block content
    #sparemodal.modal.modal-fixed-footer
        .modal-content

            .row
                h4.col.s12 Create case
                form#createspareform.col.s12(action='/spare/create', method='POST')
                    .row
                        .input-field.col.s12
                            input#case.validate(type="text", name="case")
                            label(for="case") Case

                        .input-field.col.s12
                            input#incharge.validate(type="text", name="incharge")
                            label(for="incharge") Incharge

                        .input-field.col.s12
                            input#incharge-email.validate(type="email", name="incharge-email")
                            label(for="incharge-email") Incharge Email

                        .input-field.col.s12
                            input#incharge-phone.validate(type="tel", name="incharge-phone")
                            label(for="incharge-phone") Incharge Phone

                        .input-field.col.s12
                            input#supplier.validate(type="text", name="supplier")
                            label(for="supplier") Supplier

                        .input-field.col.s12
                            input#supplier-email.validate(type="email", name="supplier-email")
                            label(for="supplier-email") Supplier Email

                        .input-field.col.s12
                            input#supplier-phone.validate(type="tel", name="supplier-phone")
                            label(for="supplier-phone") Supplier Phone  




        .modal-footer
            a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
            a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:$('#createspareform').submit();") Submit




    .fixed-action-btn
        // Modal Trigger
        a.waves-effect.waves-light.btn-floating.btn-large.red.modal-trigger(href="#sparemodal")
            i.material-icons.large add





    #sparestagemodal.modal.modal-fixed-footer
        .modal-content

            .row
                h4.col.s12 Update stages
                .col.s12
                    .row
                        .input-field.col.s12
                            input#date.datepicker.validate(type="text", name="date")
                            label(for="date") Date

                        .input-field.col.s12
                            input#timeout.validate(type="text", name="timeout")
                            label(for="timeout") Timeout (days)

        .modal-footer
            a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
            a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:$('#createspareform').submit();") Submit






    


    #spares(v-once)


        //- .collection 
            a.collection-item(v-for="spare in spares" @click="viewSpare(spare._id)") {{spare.case}}
                i.material-icons.right chevron_right


        ul.collapsible
            li(v-for="spare in spares")
                .collapsible-header
                    p.full-width.no-margin {{spare.case}} 
                        span.right {{spare.currentstage}}
                .collapsible-body.card.no-padding.z-depth-0
                    .card-content
                        .row
                            p.col.s12.light # {{spare._id}}
                            span.col.s12.card-title.grey-text.text-darken-4 {{spare.case}}
                                //- i.material-icons.right.red-text(@click='spareDelete(spare._id)') delete

                            //- p.col.s12.light {{spare.currentstage}}
                        
                            .step-indicator
                                a.step(v-bind:class="{'completed': (spare.stage>=0) }" ,@click="spareStageUpdate(spare._id, 0)") PR
                                    br
                                    | #[span.tiny {{moment(spare.vetting.date).format('DD MMM \'YY')}} ]
                                a.step(v-bind:class="{'completed': (spare.stage>=1) }" ,@click="spareStageUpdate(spare._id, 1)") Vetting
                                    br
                                    | #[span.tiny {{moment(spare.vetting.date).format('DD MMM \'YY')}} ]
                                a.step(v-bind:class="{'completed': (spare.stage>=2) }" ,@click="spareStageUpdate(spare._id, 2)") TOD
                                    br
                                    | #[span.tiny {{moment(spare.vetting.date).format('DD MMM \'YY')}} ]
                                a.step(v-bind:class="{'completed': (spare.stage>=3) }" ,@click="spareStageUpdate(spare._id, 3)") TSC
                                    br
                                    | #[span.tiny {{moment(spare.vetting.date).format('DD MMM \'YY')}} ]
                                a.step(v-bind:class="{'completed': (spare.stage>=4) }" ,@click="spareStageUpdate(spare._id, 4)") SO
                                    br
                                    | #[span.tiny {{moment(spare.vetting.date).format('DD MMM \'YY')}} ]

                        .row
                            h6.col.s12.light Incharge
                            p.col.s12 {{spare.incharge.name}}
                                br
                                | Email: {{spare.incharge.email}}
                                br
                                | Phone: {{spare.incharge.phone}}

                            h6.col.s12.light Supplier
                            p.col.s12 {{spare.supplier.name}}
                                br
                                | Email: {{spare.supplier.email}}
                                br
                                | Phone: {{spare.supplier.phone}}

                        //- .row
                            p.col.s4.strong Next 
                                br
                                | {{spare.checkup.next}}
                            p.col.s4 Last
                                br
                                | {{spare.checkup.last}}
                            p.col.s4 Frequency
                                br
                                | {{spare.checkup.interval.value}} {{spare.checkup.interval.unit}}
                            //- p.col.s6 {{spare.location.shop}} - {{spare.location.sector}}








                    .card-action
                        //- .input-field
                            input(type="text", name="remark", v-bind:id="'remark'+spare._id")
                            label(v-bind:for="'remark'+spare._id") Remark 

                        //- .input-field
                        //-     input.datepicker(type="text", name="date", v-bind:id="'date'+spare._id")
                        //-     label(v-bind:for="'date'+spare._id") Add record date (yyyy-mm-dd)

                        //- a.btn.btn-flat.btn-bordered.curvy(@click="addRecord(spare._id)") Add
                        //-     i.material-icons.left add

                        //- a.btn.btn-flat.btn-bordered.curvy(@click="viewspare(spare._id)") View
                            i.material-icons.left visibility
                        //- a.btn.btn-flat.btn-bordered.curvy.modal-trigger(v-bind:href="'#record'+spare._id") View
                        //-     i.material-icons.left visibility

                        a.btn.btn-flat.btn-bordered.curvy.modal-trigger(@click='spareEditTimerModal(spare._id)')
                            i.material-icons access_time
                        a.btn.btn-flat.btn-bordered.curvy.modal-trigger(@click='spareEdit(spare._id)')
                            i.material-icons edit
                        a.btn.btn-flat.red.white-text.btn-bordered.curvy.modal-trigger(@click='spareDelete(spare._id)')
                            i.material-icons delete

    


        


block scripts
    script(src="/js/init/spares.js")
