extends components/layout.pug

block styles

block navtitle
    a.teal-text.brand-logo.truncate(href="/") SPARE STATUS

block content
    
    #sparemodal.modal.modal-fixed-footer
        .modal-content

            .row
                h4.col.s12 Create case
                form#createspareform.col.s12
                    .row
                        .input-field.col.s12
                            input#case.validate(type="text", name="case")
                            label(for="case") Case

                        .input-field.col.s12
                            input#incharge.validate(type="text", name="incharge")
                            label(for="incharge") Incharge

                        .input-field.col.s12
                            input#incharge-email.validate(type="email", name="incharge-email")
                            label(for="incharge-email") Incharge Email

                        .input-field.col.s12
                            input#incharge-phone.validate(type="tel", name="incharge-phone")
                            label(for="incharge-phone") Incharge Phone

                        .input-field.col.s12
                            input#supplier.validate(type="text", name="supplier")
                            label(for="supplier") Supplier

                        .input-field.col.s12
                            input#supplier-email.validate(type="email", name="supplier-email")
                            label(for="supplier-email") Supplier Email

                        .input-field.col.s12
                            input#supplier-phone.validate(type="tel", name="supplier-phone")
                            label(for="supplier-phone") Supplier Phone  




        .modal-footer
            a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
            a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:createSpare();") Submit




    .fixed-action-btn
        // Modal Trigger
        a.waves-effect.waves-light.btn-floating.btn-large.red.modal-trigger(href="#sparemodal")
            i.material-icons.large add










    #spares


        //- .collection 
            a.collection-item(v-for="spare in spares" @click="viewSpare(spare._id)") {{spare.case}}
                i.material-icons.right chevron_right


        ul.collapsible.z-depth-0
            li(v-for="spare in spares")
                .collapsible-header.z-depth-0
                    p.full-width.no-margin {{spare.case}} 
                        span.right {{spare.currentstage}}
                .collapsible-body.card.no-padding.z-depth-0
                    .card-content
                        .row
                            p.col.s12.light # {{spare._id}}
                            span.col.s12.card-title.grey-text.text-darken-4 {{spare.case}}
                                //- i.material-icons.right.red-text(@click='spareDelete(spare._id)') delete

                            //- p.col.s12.light {{spare.currentstage}}

                            .step-indicator
                                a.step(href='#!' v-bind:class="{'completed': (spare.stage>=0) }" ,@click="spareStageUpdate(spare._id, 0)") PR
                                    br
                                    | #[span.tiny {{moment(spare.requisition.date).format('DD MMM \'YY')}} ]
                                a.step(href='#!' v-bind:class="{'completed': (spare.stage>=1) }" ,@click="spareStageUpdate(spare._id, 1)") Vetting
                                    br
                                    | #[span.tiny {{moment(spare.vetting.date).format('DD MMM \'YY')}} ]
                                a.step(href='#!' v-bind:class="{'completed': (spare.stage>=2) }" ,@click="spareStageUpdate(spare._id, 2)") TOD
                                    br
                                    | #[span.tiny {{moment(spare.tod.date).format('DD MMM \'YY')}} ]
                                a.step(href='#!' v-bind:class="{'completed': (spare.stage>=3) }" ,@click="spareStageUpdate(spare._id, 3)") TSC
                                    br
                                    | #[span.tiny {{moment(spare.tsc.date).format('DD MMM \'YY')}} ]
                                a.step(href='#!' v-bind:class="{'completed': (spare.stage>=4) }" ,@click="spareStageUpdate(spare._id, 4)") SO
                                    br
                                    | #[span.tiny {{moment(spare.so.date).format('DD MMM \'YY')}} ]

                        .row
                            h6.col.s12.light Incharge
                            p.col.s12 {{spare.incharge.name}}
                                br
                                | Email: {{spare.incharge.email}}
                                br
                                | Phone: {{spare.incharge.phone}}

                            h6.col.s12.light Supplier
                            p.col.s12 {{spare.supplier.name}}
                                br
                                | Email: {{spare.supplier.email}}
                                br
                                | Phone: {{spare.supplier.phone}}

                        //- .row
                            p.col.s4.strong Next 
                                br
                                | {{spare.checkup.next}}
                            p.col.s4 Last
                                br
                                | {{spare.checkup.last}}
                            p.col.s4 Frequency
                                br
                                | {{spare.checkup.interval.value}} {{spare.checkup.interval.unit}}
                            //- p.col.s6 {{spare.location.shop}} - {{spare.location.sector}}








                    .card-action
                        //- .input-field
                            input(type="text", name="remark", v-bind:id="'remark'+spare._id")
                            label(v-bind:for="'remark'+spare._id") Remark 

                        //- .input-field
                        //-     input.datepicker(type="text", name="date", v-bind:id="'date'+spare._id")
                        //-     label(v-bind:for="'date'+spare._id") Add record date (yyyy-mm-dd)

                        //- a.btn.btn-flat.btn-bordered.curvy(@click="addRecord(spare._id)") Add
                        //-     i.material-icons.left add

                        //- a.btn.btn-flat.btn-bordered.curvy(@click="viewspare(spare._id)") View
                            i.material-icons.left visibility
                        //- a.btn.btn-flat.btn-bordered.curvy.modal-trigger(v-bind:href="'#record'+spare._id") View
                        //-     i.material-icons.left visibility

                        a.btn.btn-flat.btn-bordered.curvy(@click='spareEditTimerModal(spare._id)' data-target="sparestagemodal")
                            i.material-icons access_time
                        a.btn.btn-flat.btn-bordered.curvy(@click='spareEdit(spare._id)')
                            i.material-icons edit
                        a.btn.btn-flat.red.white-text.btn-bordered.curvy(@click='spareDelete(spare._id)')
                            i.material-icons delete


                .modal.modal-fixed-footer.bottom-sheet.no-autoinit(v-bind:id="'sparestagemodal'+spare._id")
                    .modal-content

                        .row
                            h4.col.s12 Update stages
                            form.col.s12(v-bind:action="'/api/spare/'+spare._id+'/stage'", v-bind:id="'sparestagemodalform'+spare._id")
                                .row
                                    h6.light.col.s12 P. R. Raised
                                    .input-field.col.s6
                                        input#requisition-date.datepicker.validate(type="text", name="requisition-date", v-model="spare.requisition.date")
                                        label(for="requisition-date") Date

                                    .input-field.col.s6
                                        input#requisition-timeout.validate(type="text", name="requisition-timeout", v-model="spare.requisition.timeout")
                                        label(for="requisition-timeout") Timeout (days)
                                .row
                                    h6.light.col.s12 Vetting
                                    .input-field.col.s6
                                        input#vetting-date.datepicker.validate(type="text", name="vetting-date", v-model="spare.vetting.date")
                                        label(for="vetting-date") Date

                                    .input-field.col.s6
                                        input#vetting-timeout.validate(type="text", name="vetting-timeout", v-model="spare.vetting.timeout")
                                        label(for="vetting-timeout") Timeout (days)
                                .row
                                    h6.light.col.s12 TOD
                                    .input-field.col.s6
                                        input#tod-date.datepicker.validate(type="text", name="tod-date", v-model="spare.tod.date")
                                        label(for="tod-date") Date

                                    .input-field.col.s6
                                        input#tod-timeout.validate(type="text", name="tod-timeout", v-model="spare.tod.timeout")
                                        label(for="tod-timeout") Timeout (days)
                                .row
                                    h6.light.col.s12 TSC
                                    .input-field.col.s6
                                        input#tsc-date.datepicker.validate(type="text", name="tsc-date", v-model="spare.tsc.date")
                                        label(for="tsc-date") Date

                                    .input-field.col.s6
                                        input#tsc-timeout.validate(type="text", name="tsc-timeout", v-model="spare.tsc.timeout")
                                        label(for="tsc-timeout") Timeout (days)
                                .row
                                    h6.light.col.s12 SO
                                    .input-field.col.s6
                                        input#so-date.datepicker.validate(type="text", name="so-date", v-model="spare.so.date")
                                        label(for="so-date") Date

                                    .input-field.col.s6
                                        input#so-timeout.validate(type="text", name="so-timeout", v-model="spare.so.timeout")
                                        label(for="so-timeout") Timeout (days)




                    .modal-footer
                        a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
                        a.btn.modal-close.waves-effect.waves-light.green.white-text(@click="spareEditTimer(spare._id)") Submit









block scripts
    script(src="/js/init/spares.js")
