extends components/layout.pug

block styles
    link(rel="stylesheet", href="/css/steps.css")

block navtitle
    a.teal-text.brand-logo.truncate(href="/") SPARE STATUS

block content

    #sparemodal.modal.modal-fixed-footer
        .modal-content

            .row
                h4.col.s12 Create case
                form#createspareform.col.s12
                    .row
                        .input-field.col.s12
                            input#case.validate(type="text", name="case")
                            label(for="case") Case

                        .input-field.col.s12
                            input#incharge.validate(type="text", name="incharge")
                            label(for="incharge") Incharge

                        .input-field.col.s12
                            input#incharge-email.validate(type="email", name="incharge-email")
                            label(for="incharge-email") Incharge Email

                        .input-field.col.s12
                            input#incharge-phone.validate(type="tel", name="incharge-phone")
                            label(for="incharge-phone") Incharge Phone

                        .input-field.col.s12
                            input#supplier.validate(type="text", name="supplier")
                            label(for="supplier") Supplier

                        .input-field.col.s12
                            input#supplier-email.validate(type="email", name="supplier-email")
                            label(for="supplier-email") Supplier Email

                        .input-field.col.s12
                            input#supplier-phone.validate(type="tel", name="supplier-phone")
                            label(for="supplier-phone") Supplier Phone  




        .modal-footer
            a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
            a.btn.modal-close.waves-effect.waves-light.green.white-text(href="javascript:createSpare();") Submit




    .fixed-action-btn
        // Modal Trigger
        a.waves-effect.waves-light.btn-floating.btn-large.red.modal-trigger(href="#sparemodal")
            i.material-icons.large add


    #spares


        ul.collapsible.z-depth-0
            li(v-for="spare in spares")
                .collapsible-header.z-depth-0
                    p.full-width.no-margin {{spare.case}} 
                        span.right(v-if='spare.currentstage') {{spare.currentstage}}
                .collapsible-body.card.no-padding.z-depth-0
                    .card-content
                        .row
                            p.col.s12.light # {{spare._id}}
                            span.col.s12.card-title.grey-text.text-darken-4 {{spare.case}}

                            .row
                                a.center.step(href='#!',v-if='spare.stages' ,v-for="stage in spare.stages", v-bind:class="{'completed': (spare.stage >= stages.indexOf(stage)) }" ,@click="spareStageUpdate(spare._id, stages.indexOf(stage))") {{stage.name}}
                                    br
                                    | #[span.tiny expected: {{moment(stage.expecteddate).format('DD MMM \'YY')}} ]

                        .row
                            h6.col.s12.light Incharge
                            p.col.s12 {{spare.incharge.name}}
                                br
                                | Email: {{spare.incharge.email}}
                                br
                                | Phone: {{spare.incharge.phone}}

                            h6.col.s12.light Supplier
                            p.col.s12 {{spare.supplier.name}}
                                br
                                | Email: {{spare.supplier.email}}
                                br
                                | Phone: {{spare.supplier.phone}}




                    .card-action

                        a.btn.btn-flat.btn-bordered.curvy(@click='spareEditTimerModal(spare._id)' data-target="sparestagemodal")
                            i.material-icons access_time
                        a.btn.btn-flat.btn-bordered.curvy(@click='spareEdit(spare._id)')
                            i.material-icons edit
                        a.btn.btn-flat.red.white-text.btn-bordered.curvy(@click='spareDelete(spare._id)')
                            i.material-icons delete


                .modal.modal-fixed-footer.bottom-sheet.no-autoinit(v-bind:id="'sparestagemodal'+spare._id")
                    .modal-content

                        .row
                            h4.col.s12 Update stages
                            form.col.s12(v-bind:action="'/api/spare/'+spare._id+'/stage'", v-bind:id="'sparestagemodalform'+spare._id")
                                
                                .row(v-if="spare.stages", v-for='stage in spare.stages')
                                    h6.light.col.s12 {{stage.name}}
                                    //- .input-field.col.s6
                                        input.datepicker.validate(type="text", v-bind:name="'dateexpected'+stages.indexOf(stage))", v-bind:id="'dateexpected'+stages.indexOf(stage))", v-model="stage.dateexpected")
                                        label(v-bind:for="'dateexpected'+stages.indexOf(stage))") Date Expected

                                    //- .input-field.col.s6
                                        input#requisition-timeout.validate(type="text", name="requisition-timeout", v-model="stage.timeout")
                                        label(for="requisition-timeout") Timeout (days)




                    .modal-footer
                        a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
                        a.btn.modal-close.waves-effect.waves-light.green.white-text(@click="spareEditTimer(spare._id)") Submit


block scripts
    script(src="/js/init/spares.js")
