body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }

    main {
        margin-top: 48px;
    }
} */

@media only screen and (min-width: 992px) {
    .brand-logo {
        margin-left: 15px;
    }
}

.chart {
    min-height: 35vh;
}

.btn-bordered {
    /* border-radius: 8px; 
    overflow: hidden; */
    box-sizing: content-box;
    border: 1px solid #aaaaaa80;
    margin-right: 5px;
}

a.breadcrumb::before {
    color: currentColor;
}

#sectors {
    padding-left: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#sectors .card-panel {
    display: inline-block;
    margin-right: 10px;
}

#upcoming .collection .row {
    margin: 0;
}

#upcoming .collection .collection-item.avatar {
    min-height: 50px;
    padding-left: 20px;
}