$primary-fg: #ffffff;
$sec-fg: #a0a0a0;
$bg-page: #12121b;
$bg-page-sec: #000000;
$bg-comp: #313549;
$divider-color: rgba(160, 160, 160, 0.2);
$high-fg: #ffbb00;
body {
	background: $bg-page;
	nav {
		background: $bg-page;
		.brand-logo {
			color: $primary-fg;
		}
		.sidenav-trigger {
			color: $high-fg;
		}
		ul {
			li {
				a {
					color: $sec-fg;
				}
				a:hover {
					color: $primary-fg;
				}
				a.active {
					color: $high-fg;
				}
			}
		}
	}
	.collapsible {
		border-color: $bg-page;
		color: $sec-fg;
		.collapsible-header {
			background: $bg-page;
			border-color: $bg-page;
		}
		.collapsible-body.card {
			background: $bg-page;
			border-color: $bg-page;
			.divider {
				background: $divider-color;
			}
			.card-content {
				.strong {
					color: $primary-fg;
				}
				.card-title {
					color: $high-fg;
				}
				h5 {
					color: $primary-fg;
				}
			}
			.card-action {
				a.btn.btn-flat {
					color: $primary-fg;
				}
			}
		}
		li.active {
			background: $bg-comp;
			.collapsible-header {
				background: $bg-comp;
				color: $primary-fg;
				span.right {
					color: $sec-fg;
				}
			}
			.collapsible-body.card {
				background: $bg-comp;
			}
		}
	}
}
